<ix-scroll-button [scrollableElementId]="'scroll-container'"
                  [color]="'accent'"
                  [verticalButtonPosition]="'bottom'"
                  [horizontalButtonPosition]="'right'"></ix-scroll-button>

<section class="scroll-to-top">
    <mat-toolbar>Scroll To Top Button</mat-toolbar>
    <div class="demo-content">

        <mat-list>
            <mat-list-item>
                Filler item to force scrolling
            </mat-list-item>
            <mat-list-item>
                Filler item to force scrolling
            </mat-list-item>
            <mat-list-item>
                Filler item to force scrolling
            </mat-list-item>
            <mat-list-item>
                Filler item to force scrolling
            </mat-list-item>
            <mat-list-item>
                Filler item to force scrolling
            </mat-list-item>
            <mat-list-item>
                Filler item to force scrolling
            </mat-list-item>
            <mat-list-item>
                Filler item to force scrolling
            </mat-list-item>
            <mat-list-item>
                Filler item to force scrolling
            </mat-list-item>
            <mat-list-item>
                Filler item to force scrolling
            </mat-list-item>
            <mat-list-item>
                Filler item to force scrolling
            </mat-list-item>
            <mat-list-item>
                Filler item to force scrolling
            </mat-list-item>
            <mat-list-item>
                Filler item to force scrolling
            </mat-list-item>
            <mat-list-item>
                Filler item to force scrolling
            </mat-list-item>
            <mat-list-item>
                Filler item to force scrolling
            </mat-list-item>
            <mat-list-item>
                Filler item to force scrolling
            </mat-list-item>
            <mat-list-item>
                Filler item to force scrolling
            </mat-list-item>
            <mat-list-item>
                Filler item to force scrolling
            </mat-list-item>
            <mat-list-item>
                Filler item to force scrolling
            </mat-list-item>
            <mat-list-item>
                Filler item to force scrolling
            </mat-list-item>
            <mat-list-item>
                Filler item to force scrolling
            </mat-list-item>
            <mat-list-item>
                Filler item to force scrolling
            </mat-list-item>
            <mat-list-item>
                Filler item to force scrolling
            </mat-list-item>
            <mat-list-item>
                Filler item to force scrolling
            </mat-list-item>
            <mat-list-item>
                Filler item to force scrolling
            </mat-list-item>
            <mat-list-item>
                Filler item to force scrolling
            </mat-list-item>
            <mat-list-item>
                Filler item to force scrolling
            </mat-list-item>
            <mat-list-item>
                Filler item to force scrolling
            </mat-list-item>
            <mat-list-item>
                Filler item to force scrolling
            </mat-list-item>
            <mat-list-item>
                Filler item to force scrolling
            </mat-list-item>
            <mat-list-item>
                Filler item to force scrolling
            </mat-list-item>
            <mat-list-item>
                Filler item to force scrolling
            </mat-list-item>
            <mat-list-item>
                Filler item to force scrolling
            </mat-list-item>
            <mat-list-item>
                Filler item to force scrolling
            </mat-list-item>
            <mat-list-item>
                Filler item to force scrolling
            </mat-list-item>
            <mat-list-item>
                Filler item to force scrolling
            </mat-list-item>
            <mat-list-item>
                Filler item to force scrolling
            </mat-list-item>
            <mat-list-item>
                Filler item to force scrolling
            </mat-list-item>
            <mat-list-item>
                Filler item to force scrolling
            </mat-list-item>
            <mat-list-item>
                Filler item to force scrolling
            </mat-list-item>
            <mat-list-item>
                Filler item to force scrolling
            </mat-list-item>
            <mat-list-item>
                Filler item to force scrolling
            </mat-list-item>
            <mat-list-item>
                Filler item to force scrolling
            </mat-list-item>
            <mat-list-item>
                Filler item to force scrolling
            </mat-list-item>
            <mat-list-item>
                Filler item to force scrolling
            </mat-list-item>
            <mat-list-item>
                Filler item to force scrolling
            </mat-list-item>
            <mat-list-item>
                Filler item to force scrolling
            </mat-list-item>
            <mat-list-item>
                Filler item to force scrolling
            </mat-list-item>
            <mat-list-item>
                Filler item to force scrolling
            </mat-list-item>
            <mat-list-item>
                Filler item to force scrolling
            </mat-list-item>
            <mat-list-item>
                Filler item to force scrolling
            </mat-list-item>
            <mat-list-item>
                Filler item to force scrolling
            </mat-list-item>
            <mat-list-item>
                Filler item to force scrolling
            </mat-list-item>
            <mat-list-item>
                Filler item to force scrolling
            </mat-list-item>
            <mat-list-item>
                Filler item to force scrolling
            </mat-list-item>
            <mat-list-item>
                Filler item to force scrolling
            </mat-list-item>
            <mat-list-item>
                Filler item to force scrolling
            </mat-list-item>
            <mat-list-item>
                Filler item to force scrolling
            </mat-list-item>
            <mat-list-item>
                Filler item to force scrolling
            </mat-list-item>
            <mat-list-item>
                Filler item to force scrolling
            </mat-list-item>
            <mat-list-item>
                Filler item to force scrolling
            </mat-list-item>
            <mat-list-item>
                Filler item to force scrolling
            </mat-list-item>
            <mat-list-item>
                Filler item to force scrolling
            </mat-list-item>
            <mat-list-item>
                Filler item to force scrolling
            </mat-list-item>
            <mat-list-item>
                Filler item to force scrolling
            </mat-list-item>
            <mat-list-item>
                Filler item to force scrolling
            </mat-list-item>
            <mat-list-item>
                Filler item to force scrolling
            </mat-list-item>
            <mat-list-item>
                Filler item to force scrolling
            </mat-list-item>
            <mat-list-item>
                Filler item to force scrolling
            </mat-list-item>
            <mat-list-item>
                Filler item to force scrolling
            </mat-list-item>
            <mat-list-item>
                Filler item to force scrolling
            </mat-list-item>
            <mat-list-item>
                Filler item to force scrolling
            </mat-list-item>
            <mat-list-item>
                Filler item to force scrolling
            </mat-list-item>
            <mat-list-item>
                Filler item to force scrolling
            </mat-list-item>
            <mat-list-item>
                Filler item to force scrolling
            </mat-list-item>
            <mat-list-item>
                Filler item to force scrolling
            </mat-list-item>
            <mat-list-item>
                Filler item to force scrolling
            </mat-list-item>
            <mat-list-item>
                Filler item to force scrolling
            </mat-list-item>
            <mat-list-item>
                Filler item to force scrolling
            </mat-list-item>
            <mat-list-item>
                Filler item to force scrolling
            </mat-list-item>
            <mat-list-item>
                Filler item to force scrolling
            </mat-list-item>
            <mat-list-item>
                Filler item to force scrolling
            </mat-list-item>
        </mat-list>
    </div>
</section>
