{
    "arrowParens": "always",
    "bracketSpacing": true,
    "jsxBracketSameLine": false,
    "parser": "typescript",
    "printWidth": 140,
    "requirePragma": false,
    "semi": true,
    "singleQuote": true,
    "tabWidth": 4,
    "trailingComma": "none",
    "bracketSameLine": true,
    "singleAttributePerLine": true,
    "overrides": [
        {
            "files": [
                "*.scss"
            ],
            "options": {
                "parser": "scss"
            }
        },
        {
            "files": [
                "*.yml"
            ],
            "options": {
                "parser": "yaml"
            }
        },
        {
            "files": [
                "*.html"
            ],
            "options": {
                "parser": "angular"
            }
        }
    ]
}