<section class="dark-mode-button">
    <mat-toolbar>
        Dark Mode Button
    </mat-toolbar>

    <div class="docs-content">
        Usage
        <div>
            Import into module:
            <code>import &#x007B; IxThemeButtonModule &#x007D; from 'ix-libs'</code>
        </div>
        <div>
            Add to component:
            <code>&#60;ix-theme-button>&#60;/ix-theme-button></code>
        </div>

    </div>

    <div class="demo-content">

        <div>
            Click button to toggle light/dark theme: <ix-theme-button></ix-theme-button>
        </div>
        <h3>
            Demo items that switch based on theme
        </h3>
        <div class="demo-items">

            <button mat-raised-button>Raised Button</button>
            <button mat-stroked-button>Stroked Button</button>
            <button mat-icon-button>
                <mat-icon>rocket_launch</mat-icon>
            </button>
            <ul>
                <li>Adamant.</li>
                <li>Southfarthing!</li>
                <li>Witch-king.</li>
                <li>Precious.</li>
                <li>Gaffer's!</li>
            </ul>
        </div>
    </div>
</section>
