 @use 'src/styles/mixins' as *;

 section.dark-mode-button {
   @include page-padding(16, 8);

   .demo-items {
     border: 1px solid rgba(grey, 0.25);
     margin: 16px;
     padding: 8px;
     display: grid;
     grid-template-columns: repeat(auto-fit, minmax(0, 1fr));
     grid-template-rows: auto;
     grid-gap: 16px;

     button {
       align-self: flex-start;
     }
   }
 }